*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.continer{
    background-color: #E5E5FD;
    border: 8px solid black;
    min-height: 100vh;
}
.content{
    max-width: 900px;
    margin: 0 auto;
}
.top{
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    
}
 .top, h1{
    display:flex;
    justify-content: center;
   text-transform: uppercase;
  
}
h4{
    text-align: end;
}
.one{
    margin-top: 50px;
    text-align: justify;
}
.one h2{
    font-size: 70px;
    font-weight: 400;
    margin-bottom: 20px;
}
.one p{
    letter-spacing: 0.2px;
    line-height: 1.5;
}
.two{
    margin-top: 50px;
}
.three{
    margin-top: 25px;
    line-height: 1.5;
}
footer{
    margin: 50px 0;
    display:flex;
    justify-content:flex-end;
}
